* {
    box-sizing: border-box;
  }

body {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: lightsteelblue;
}

.calc {
  width: 400px;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 1px 0px black;
}

.screen {
  color: white;
  font-size: 70px;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 20px 5px;
}

.calc-button {
  background-color: black;
  height: 100px;
  width: 24.5%;
  border: 1px solid right;
  border-radius: 30px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
  
  .calc-button:hover {
    background-color: black;
    box-shadow: 1px 1px 1px 3px red;
  }
  
  .calc-button:active {
    background-color: #bbbcbe;
  }
  
  .double {
    width: 49.7%;
  }
  
  .triple {
    width: 74.8%;
  }
  
  .calc-button:last-child {
    background-color: #df974c;
    color: black;
  }
  
  .calc-button:last-child:hover {
    background-color: #dfb07e;
  }
  
  .calc-button:last-child:active {
    background-color: #dd8d37;
  }
  
  .calc-button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
  }