* {
    box-sizing: border-box;
  }

body {
  padding: 0;
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

.calc {
  width: 400px;
  background-color: black;
  color: white;
  box-shadow: 0px 0px 5px 0px;
}

.screen {
  color: white;
  font-size: 70px;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 20px 5px;
  box-shadow: 0px 0px 3px 0px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  width: 100%;
  display: block;
}

.calc-button {
  background-color: black;
  color:white;
  height: 80px;
  width: 24.5%;
  border: 1px solid right;
  border-radius: 30px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin: .3rem;
}
  
.calc-button:hover {
  background-color: black;
  box-shadow: 0px 0px 0px 1px red;
}

.calc-button:active {
  background-color: #1e272c;
  box-shadow: 0px 0px 1px 1px red;
  color: red;
}

.double {
  width: 49.7%;
}

.triple {
  width: 74.8%;
}

.calc-button:last-child {
  background-color: black;
  color: red;
}

.calc-button:last-child:active {
  color: white;
}

.calc-button-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin: .5rem;
}
@media screen and (max-width: 900px) {
  .calc {
    min-width: 100%;
  }
}